ClientWSCalculator/xml-resources/web-service-references/Calc/wsdl/localhost_8080/Calc/Calc.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calc/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calc/" name="Calc">
<types>
<xsd:schema>
<xsd:import namespace="http://calc/" schemaLocation="http://localhost:8080/Calc/Calc?xsd=1"/>
</xsd:schema>
</types>
<message name="name">
<part name="parameters" element="tns:name"/>
</message>
<message name="nameResponse">
<part name="parameters" element="tns:nameResponse"/>
</message>
<message name="suma">
<part name="parameters" element="tns:suma"/>
</message>
<message name="sumaResponse">
<part name="parameters" element="tns:sumaResponse"/>
</message>
<message name="rest">
<part name="parameters" element="tns:rest"/>
</message>
<message name="restResponse">
<part name="parameters" element="tns:restResponse"/>
</message>
<portType name="Calc">
<operation name="name">
<input wsam:Action="http://calc/Calc/nameRequest" message="tns:name"/>
<output wsam:Action="http://calc/Calc/nameResponse" message="tns:nameResponse"/>
</operation>
<operation name="suma">
<input wsam:Action="http://calc/Calc/sumaRequest" message="tns:suma"/>
<output wsam:Action="http://calc/Calc/sumaResponse" message="tns:sumaResponse"/>
</operation>
<operation name="rest">
<input wsam:Action="http://calc/Calc/restRequest" message="tns:rest"/>
<output wsam:Action="http://calc/Calc/restResponse" message="tns:restResponse"/>
</operation>
</portType>
<binding name="CalcPortBinding" type="tns:Calc">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="name">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="suma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Calc">
<port name="CalcPort" binding="tns:CalcPortBinding">
<soap:address location="http://localhost:8080/Calc/Calc"/>
</port>
</service>
</definitions>